<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837551464156-md5p8ljsvamrotrm0td8s33lgiq7j3f8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837551464156-md5p8ljsvamrotrm0td8s33lgiq7j3f8</string>
	<key>API_KEY</key>
	<string>AIzaSyAJdb6PHI_qvCcsPRwAd1B2mZbSvNAAzJo</string>
	<key>GCM_SENDER_ID</key>
	<string>837551464156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dk.eaaa.dmu.mbj.ShoppingList</string>
	<key>PROJECT_ID</key>
	<string>shoppinglist-200ac</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglist-200ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837551464156:ios:d675207ba1e6420a2f1e19</string>
</dict>
</plist>